In [1]:
!ls

CODEOWNERS   README.md	     census.csv      local_remote
LICENSE.txt  Untitled.ipynb  census.csv.dvc  starter

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("census.csv",skipinitialspace = True)

In [4]:
data.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
data.columns

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [10]:
type(data[" education-num"][0])

numpy.int64

In [6]:
data["salary"].unique()

array(['<=50K', '>50K'], dtype=object)

In [7]:
def convert(entry):
    if entry == "<=50K":
        return 0
    else:
        return 1

In [8]:
data["target"] = data["salary"].apply(convert)

In [9]:
data["target"]

0        0
1        0
2        0
3        0
4        0
        ..
32556    0
32557    1
32558    0
32559    0
32560    1
Name: target, Length: 32561, dtype: int64

In [19]:
data.replace({'?': None}, inplace=True)
data.dropna(inplace=True)

In [20]:
data.to_csv("cleaned_data.csv")

In [10]:
# one hot encode more than one columns
categorical_cols = ['workclass','education',
       'marital-status', 'occupation', 'relationship', 'race', 'sex','native-country']

In [11]:
processed_data = pd.get_dummies(data, columns=categorical_cols)

In [12]:
processed_data.head()

,age,fnlgt,education-num,capital-gain,capital-loss,hours-per-week,salary,target,workclass_?,workclass_Federal-gov,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,39,77516,13,2174,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
processed_data.replace({'?': None}, inplace=True)

In [14]:
processed_data.dropna(inplace=True)

In [15]:
processed_data.drop("fnlgt", axis="columns", inplace=True)
processed_data.drop("education-num", axis="columns", inplace=True)
processed_data.drop("capital-gain", axis="columns", inplace=True)
processed_data.drop("capital-loss", axis="columns", inplace=True)

In [16]:
processed_data.drop("salary", axis="columns", inplace=True)

In [17]:
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Columns: 105 entries, age to native-country_Yugoslavia
dtypes: int64(3), uint8(102)
memory usage: 3.9 MB

In [18]:
processed_data.to_csv("one_hot_encoded_data.csv")